.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.capturedWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 20%;
  align-items: center;
  justify-content: center;
}

.captured {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #12c3ce;
  font-size: 1rem;
}

.last {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #cc2c34;
}

