.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

@media screen and (min-width: 768px) {
  .info {
    flex-direction: row;
  }
}

.status {
  width: 30%;
  font-size: 1rem;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .wrap {
    flex-direction: row;
  }
}

.media {
  max-height: 60vh;
  max-width: 40%;
}

.capturedWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 20%;
  align-items: center;
  justify-content: center;
}

.captured {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #12c3ce;
  font-size: 1rem;
}

.last {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #cc2c34;
}

